<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>me.birkhoff.pam_tid</string>

    <key>KeepAlive</key>
    <false/>

    <key>LaunchOnlyOnce</key>
    <true/>

    <key>RunAtLoad</key>
    <true/>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/pam_tid_installer</string>
    </array>

    <key>StandardOutPath</key>
    <string>/tmp/pam_tid_installer.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/pam_tid_installer.stderr.log</string>

</dict>
</plist>
